<%- include('./componets/header.ejs') %>
    <title>Libros
        <%- title %>
    </title>
    </head>

    <body>
        <main>
            <%- include('./componets/navBar.ejs')%>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;">
                    <form method="POST" action="/admin/add-book">
                        <div>
                            <h3>Registro de libros</h3>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">ISBN</label>
                                <div name="test" class="col-sm-4">
                                    <input type="text" name="isbn" required class="form-control" placeholder="Eje: 123565" required>
                                </div>
                                <label for="" class="col-sm-2 col-form-label">Nombre del Libro</label>
                                <div name="test" class="col-sm-4">
                                    <input type="text" name="title" required class="form-control" placeholder="Eje: Cien Años de soledad" required>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-1 col-form-label">Autor</label>
                                <div class="col-sm-4">
                                    <input type="text" name="author" required class="form-control" placeholder="Gabriel Garcia Marquez" required>
                                </div>
                                <label for="" class="col-sm-1 col-form-label">Editorial</label>
                                <div class="col-sm-4">
                                    <input type="text" name="editorial" required class="form-control" placeholder="Eje: Sudamericana" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-1 col-form-label">Fecha</label>
                                <div class="col-sm-3">
                                    <input type="date" name="date" required class="form-control" placeholder="Eje.." required>
                                </div>
                                <label for="" class="col-sm-1 col-form-label">Costo</label>
                                <div class="col-sm-3">
                                    <input type="text" name="value" required class="form-control" id="" placeholder="10000$" required>
                                </div>
                                <label for="" class="col-sm-1 col-form-label">unidades</label>
                                <div class="col-sm-3">
                                    <input type="number" name="quantity" required min="1" pattern="^[0-9]+" class="form-control" id="" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Registrar Libro</button>
                    </form><br>
                </div>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;"><br>
                    <form method="POST" action="/admin/add-user">
                        <h3>Registro de Usuario</h3>
                        <div class="form-group row">
                            <label for="" class="col-sm-1 col-form-label">Nombre </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="nombres" placeholder="Gabriel">
                            </div>
                            <label for="" class="col-sm-1 col-form-label">Apellido</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="apellidos" placeholder="Garcia Marquez">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-1 col-form-label">Cedula</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="documento" placeholder="10.000.000 Cc">
                            </div>
                            <label for="" class="col-sm-1 col-form-label">Celular</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="celular" placeholder="312 345 6789">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-1 col-form-label">Correo</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="correo" placeholder="correo@correo.com">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Registrar Usuario</button>
                    </form><br>
                </div>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;">
                    <br>
                    <form method="POST" action="/admin/add-prestamo">
                        <h2>Préstamo y devolución de Libros</h2><br>
                        <h3>Préstamo</h3>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Cedula Usuario</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="documento" placeholder="10.000.000 Cc">
                            </div>
                            <label for="" class="col-sm-2 col-form-label">Nombre del Libro o ISBN</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="isbn" placeholder="Gabriel Garcia Marquez">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Registrar Prestamo</button><br>
                    </form><br>
                    <form method="POST" action="/admin/devolver-prestamo">
                        <h3>Devolución</h3>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Cedula Usuario</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="documento" placeholder="10.000.000 Cc">
                            </div>
                            <label for="" class="col-sm-2 col-form-label">Nombre del Libro o ISBN</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="isbn" placeholder="Gabriel Garcia Marquez">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Devolver libro</button><br><br>
                    </form>
                </div>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;">
                    <br>
                    <h3>Usuarios Registrados</h3><br>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Cedula</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Celular</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(const it of users){%>
                                <tr>
                                    <th>
                                        <a>
                                            <%= it.nombres%>
                                        </a>
                                    </th>
                                    <th>
                                        <a>
                                            <%= it.apellidos%>
                                        </a>
                                    </th>
                                    <th>
                                        <a>
                                            <%= it.documento%>
                                        </a>
                                    </th>
                                    <th>
                                        <a>
                                            <%= it.correo%>
                                        </a>
                                    </th>
                                    <th>
                                        <a>
                                            <%= it.celular%>
                                        </a>
                                    </th>

                                </tr>
                            <%}%>

                        </tbody>
                    </table><br>


                </div>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;">
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <h3>Libros del Usuario</h3>
                        </div>
                        <div class="col-sm-3"></div>
                            <form method="POST" action="/admin/books-user">
                                <div class="col-sm">
                                    <input class="form-control" type="text" name="documento" placeholder="Documento" onkeypress="">
                                </div>
                                <div class="col-sm">
                                    <button type="submit">Buscar</button>
                                </div>
                            </form>
                        </div>
                    </div><br>
                    
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Documento</th>
                                <th scope="col">ISBN</th>
                                <th scope="col">Fecha Prestamo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <%for(const it of booksUser){%>
                                    <tr>
                                        <th>
                                            <a>
                                                <%= it.documentoUser%>
                                            </a>
                                        </th>
                                        <th>
                                            <a>
                                                <%= it.isbn%>
                                            </a>
                                        </th>
                                        <th>
                                            <a>
                                                <%= it.fecha%>
                                            </a>
                                        </th>
                                    </tr>
                                <%}%>
                            </tr>
                        </tbody>
                    </table><br>

                </div>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;">
                    <br>
                    <h3>Libros Registrados</h3><br>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">isbn</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Autor</th>
                                <th scope="col">Editorial</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Costo</th>
                                <th scope="col">Unidades</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(const it of books){%>
                                <tr>
                                    <th>
                                        <a>
                                            <%= it.isbn%>
                                        </a>
                                    </th>
                                    <th>
                                        <a>
                                            <%= it.title%>
                                        </a>
                                    </th>
                                    <th>
                                        <a>
                                            <%= it.author%>
                                        </a>
                                    </th>
                                    <th>
                                        <a>
                                            <%= it.editorial%>
                                        </a>
                                    </th>
                                    <th>
                                        <%= it.date%>
                                    </th>
                                    <th>
                                        <%= it.value%>
                                    </th>
                                    <th>
                                        <%= it.quantity%>
                                    </th>
                                </tr>
                                <%}%>


                        </tbody>
                    </table><br>


                </div>

        </main>
    </body>

    <%- include('./componets/endHeader.ejs') %>